body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

    @include font();
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    //desktop 1157px
    padding: 0 calc(50% - 30.13%);

    @include tablet-mid {
        //tablet mid 1157px
        padding: 0 calc(50% - 45.19%);
    }

    @include tablet {
        //tablet 766px
        padding: 0 calc(50% - 42.84%);
    }

    @include mobile {
        //mobile 315px
        padding: 0 calc(50% - 42%);
    }
}