//color
$header-footer-bcg: #2F3132;
$header-footer-text: white;
$header-line: #494949;
$work-productively-bcg: #E0E1E2;
$work-productively-arrow: #FF2947;
$without-wires-bcg: #EDEDED;
$without-wires-num: #C4C4C4;
$footer-text: #C7C8C8;

//size
$desktop-width: 1920px;
$tablet-mid-width: 1280px; //tablet-mid
$tablet-width: 894px; //tablet
$mobile-tablet-width: 720px;
$mobile-mid-width: 550px;
$mobile-width: 375px; //mobile