.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $header-footer-bcg;

    &__img {
        width: 150px;
        height: 45px;
    }

    &__list {
        display: flex;
    }

    &__item {
        padding: 0 21px;
        border-right: 1px solid $header-line;

        &:last-child {
            padding: 0 21px;
            border: none;
        }
    }

    &__link {
        position: relative;
        display: block;
        color: $header-footer-text;
        text-transform: uppercase;
        padding: 7px 0;

        &:hover:after,
        &:focus::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 100%;
            height: 1px;
            background-color: $header-footer-text;
        }

        @include font(12px, 14px, 500);
    }
}